<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223508135310-1a0fmagp54ejj2k9jbi9uvhauqtcfjt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223508135310-1a0fmagp54ejj2k9jbi9uvhauqtcfjt0</string>
	<key>API_KEY</key>
	<string>AIzaSyCp7Q125ODuLRSTJPhNoPgdwjlB-lcq-pw</string>
	<key>GCM_SENDER_ID</key>
	<string>223508135310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sg.mz.Lepus</string>
	<key>PROJECT_ID</key>
	<string>lepus-d32ce</string>
	<key>STORAGE_BUCKET</key>
	<string>lepus-d32ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223508135310:ios:2ed5b92ce11b3f7ee538df</string>
	<key>DATABASE_URL</key>
	<string>https://lepus-d32ce-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>